.app {
    text-align: center;
  }

  ul {
    list-style-type: none;
    /* font-weight: bold;   */
    font-size: 20px; 
  }

  .ship {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px  rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
  }

  .li {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 13px;
    padding-bottom: 20px;
    background-color: rgb(12, 127, 123);
    border: 1px solid blue;

    width: 20%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
  }